body{
  margin: 0px;
}

#list{
  width: 100%;
}

#list tr:nth-child(odd){
  background-color: silver;
}

#list tr{
  height: 30px;
}

#list td{
  text-align: center;
}

table input{
  width: calc(100% - 10px);
  height: 30px;
  padding: 2px 0px 2px 10px;
  border-radius: 4px;
  border: 1px solid silver;
  outline: none;
}

#list button{
  width: 100%;
  margin-left: -1px;
  outline: none;
  border: none;
  background-color: rgb(0, 207, 255) !important;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#list button:active{
  background-color: rgb(108,108,108);
}

#opacity{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  display: none;
}

#add_url{
  width: 300px;
  padding: 50px;
  margin: 0px auto;
  background-color: white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  position: absolute;
  left: calc(100% / 2 - 200px);
  top: -241px;
  transition: top 0.5s;
}

#url{
  width: calc(100% - 10px);
  height: 30px;
  padding: 2px 0px 2px 10px;
  border-radius: 7px;
  border: 1px solid silver;
  outline: none;
}

#add_url>button{
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(0, 207, 255);
  border:none;
  border-radius: 4px;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

#add_url>button:active{
  background-color: rgb(108, 108, 108);
}

.heading{
  font-size: 22px;
  display: block;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

#refresh{
  cursor: pointer;
}